body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20;
    line-height: 30px;
}

h1 ,h2 {
    font-family: 'Pacifico', cursive;
}

h2{
    font-size: 30px;
    color: #0c703b;
    margin: 40px 0 10px;
}
header{
    background-color: #118f4c;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color: white;
    font-size: 50px;
}

header img{
    border-style: groove;
    border: 5px solid white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
    margin: 0;
    max-height: 370px;
    align-content: center;
    border: 5px solid #118f4c;
}

footer{
    background-color: #118f4c;
    text-align: center;
    color: white;
    padding: 30px;
}

footer p{
    margin: 0;
}

p.caption{
    color: #999999;
    margin-top: 0;
    font-style: italic;
}

